* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.center {
  display: flex;
  max-width: 1100px;
  padding: 0 2%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main {
  background-image: url('images/background.svg');
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 20px 0 80px 0;
}

.menu {
  display: flex;
  width: 100%;
}

.logo-menu {
  width: 50%;
}

.items-menu {
  text-align: right;
  width: 50%;
}

.items-menu a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.items-menu a:hover {
  border-bottom: 2px solid #FFDD33;
}

.items-menu a.contact-btn {
  background-color: #0F3FD3;
  padding: 12px 10px;
  border-radius: 10px;
}

.items-menu a.contact-btn:hover {
  border: 0;
}

.mockup {
  text-align: center;
  color: white;
  display: block;
  padding-top: 100px;
  width: 100%;
}

.mockup h1 {
  font-size: 50px;
}

.mockup img {
  max-width: 100%;
}

.marcas {
  padding: 100px 0;
}

.marcas img {
  width: 20%;
}

.porque-nos {
  padding: 40px;
  background-color: #FBFCFE;
}

.porque-nos > .center > h2 {
  font-size: 64px;
  text-align: center;
  width: 100%;
}

.porque-nos > .center > p {
  font-size: 14px;
  color: #7E92AC;
  text-align: center;
  width: 100%;
  max-width: 1280px;
}

.diferenciais {
  display: flex;
  margin-top: 50px;
}

.box-diferenciais {
  box-shadow: 0px 20px 40px #2426721C;
  width: 30%;
  margin-right: 2%;
  border-radius: 20px;
  padding: 10px 20px;
  opacity: 1;
}

.box-diferenciais h3 {
  font-size: 28px;
  color: black;
  margin:20px 0;
}

.box-diferenciais p {
  color: #7E92AC;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .diferenciais {
    flex-wrap: wrap;
  }

  .box-diferenciais {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .marcas {
    text-align: center;
  }

  .marcas > center {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .marcas img {
    width: 100%;
  }
}